.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  margin-top: 1rem;
}

.title {
  color: #fff;
  font-weight: 600;
}

.filters {
  max-width: 1200px;
  // margin: 20px auto;
  padding-left: 20px;
}

mat-form-field {
  width: 300px;
  border-radius: 5px;
}

::ng-deep {
  .mat-form-field-infix {
    background-color: #fff;
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #E53F71 !important;
    opacity: 1;
  }

  .mat-form-field-infix {
    border-color: #fff !important;
    border-top: none;
    padding-left: 5px !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #fff !important;
  }
}

.games-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.game {
  width: 17rem;
  margin: 10px;
  height: 18rem;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.1);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 157px;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 599px) {
  .wrapper{
    justify-content: center;
  }
  .title {
    display: none;
  }
  .filters {
    padding: 0;
  }
}